html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Muller;
  color: #000;
  font-size: 14px;
  background-color: #f3f8f8;
  &.hidden {
    overflow: hidden;
  }
  // max-width: 1920px;
  // margin: 0 auto;
}
button,
a,
textarea,
input {
  outline: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  outline: none;
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
textarea {
  resize: none;
}

.container {
  margin: 0 auto;
  // padding: 0 7px;
  max-width: 1160px;
}
.title {
  font-size: 37px;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  span {
    color: #ffc134;
  }
  &-y {
    background-size: 100% 40px;
    padding: 0 20px;
    background-image: url(../img/titles/y.png);
    padding-top: 7px !important;
    line-height: 26px;
  }
  &-y-dash {
    padding: 0 20px;
    padding-right: 150px;
    background-image: url(../img/titles/y_das.png);
  }
  &-g {
    background-size: 100% 50px;
    padding: 0 20px;
    background-image: url(../img/titles/g.png);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 240px;
  position: relative;
  background-color: #ffb100;
  cursor: pointer;
  font-size: 16px;
  &::before {
    position: absolute;
    top: 10px;
    right: 10px;
    content: '';
    width: 21px;
    height: 24px;
    background-image: url(../img/th_icons/mic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 0;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 8px;
  background-image: url(../img/sl/arr_l.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
.slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 0;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 8px;
  background-image: url(../img/sl/arr_r.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0%;
  outline: none;
  .slick-active {
    button {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #ffc134;
      width: 6px;
      height: 6px;
      opacity: 1;
      border-radius: 50%;
      border: 1px solid #ffc134;
      outline: none;
    }
  }
  button {
    width: 6px;
    height: 6px;
    font-size: 0;
    border: none;
    padding: 0;
    border-radius: 50%;
    margin: 0 25px;
    background-color: #fff;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
  #slick-slide-control00 {
    margin: 0;
  }
}
.active {
  left: 0 !important;
  transition: 0.5s;
}
.pop_act {
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  background-color: rgba($color: #ffffff, $alpha: 0.5) !important;
  transition: 0.5s !important;
  z-index: 200 !important;
  opacity: 1 !important;
}
.pop_act-inn {
  transition: 0.5s;
  top: 0 !important;
  z-index: 200 !important;
}
.textUp {
  transition: 0.5s !important;
  opacity: 1 !important;
  bottom: 0px !important;
}
.ti__a {
  padding-bottom: 120px !important;
}
.tx {
  transform: rotate(225deg) !important;
  bottom: -15px !important;
  border-bottom: 1px solid #ffffff !important;
  border-right: 1px solid #ffffff !important;
}
.lock {
  overflow: hidden !important;
}
.port .port__item-img-slider {
  .slick-prev {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 0;
    background-color: transparent;
    border: none;
    width: 16px;
    height: 8px;
    z-index: 10;
    transform: rotate(180deg);
    background-image: url(../img/slider/right.svg);
    width: 35px;
    height: 35px;
  }
  .slick-next {
    position: absolute;
    left: auto;
    right: 10px;
    top: 50%;
    font-size: 0;
    background-color: transparent;
    border: none;
    width: 16px;
    height: 8px;
    background-image: url(../img/slider/right.svg);
    width: 35px;
    height: 35px;
  }
}
.up {
  z-index: 50;
  position: fixed;
  right: 60px;
  bottom: 60px;
  border-radius: 50%;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
    opacity: 0.5;
  }
  img {
    border-radius: 50%;
    box-shadow: 0px 0px 8px 3px rgba(248, 163, 36, 0.2);
    width: 60px;
    height: 60px;
    transform: rotate(270deg);
  }
}
