@media (max-width: 1440px) {
  .header__left-bottom-nav a {
    font-size: 11px;
  }
  .header__left-bottom-nav a:before {
    top: 3px;
  }
  .about__right {
    width: 63%;
  }
  .about {
    .slick-next {
      top: auto;
      bottom: -10%;
      right: 25%;
    }
    .slick-prev {
      top: auto;
      bottom: -10%;
      left: 40%;
    }
    .slick-dots {
      left: 46%;
      bottom: -10%;
    }
  }
  .about {
    .slick-prev {
      position: absolute;
      &::after {
        left: -290px;
        top: -608px;
        content: '';
        position: absolute;
        width: 200px;
        height: 560px;
      }
    }
    .slick-next {
      position: absolute;
      &::after {
        right: -200px;
        top: -608px;
        content: '';
        position: absolute;
        width: 200px;
        height: 560px;
      }
    }
  }
}
@media (max-width: 1366px) {
  .about__right {
    width: 59%;
  }
}
@media (max-width: 1160px) {
  .title {
    background-image: none !important;

    span {
      color: #ffc134;
    }
    &-y {
      background-size: 100% 40px;
      padding: 0;
    }
    &-y-dash {
      padding: 0;
      padding-right: 0px;
    }
    &-g {
      background-size: 100% 50px;
      padding: 0;
    }
  }
  .rev .slick-arrow {
    width: 16px;
    height: 8px;
    background-image: url(../img/sl/g_arr_r.png);
  }
  .about {
    .slick-prev {
      position: absolute;
      &::after {
        left: -290px;
        top: -608px;
        content: '';
        position: absolute;
        width: 200px;
        height: 560px;
        display: none;
      }
    }
    .slick-next {
      position: absolute;
      &::after {
        right: -200px;
        top: -608px;
        content: '';
        position: absolute;
        width: 200px;
        height: 560px;
        display: none;
      }
    }
  }
  .about__right {
    width: 100%;
    margin-bottom: 70px;
    position: relative;
    &::after {
      content: 'Работы наших специалистов';
      position: absolute;
      left: calc(50% - 100px);
      bottom: -35px;
    }
  }
  .about__left {
    height: auto;
    padding-left: 15px;
  }
  .about__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
  }
  .about__items {
    display: none;
  }
  .about__items-mob {
    padding-top: 20px;
    display: flex;
  }

  .about,
  .rev {
    .slick-next {
      top: auto;
      bottom: -10%;
      left: calc(50% + 135px);
    }
    &__sl {
      display: none;
    }
    &__know {
      width: 100%;
      &-container {
        margin: 0 auto;
      }
    }

    .slick-prev {
      top: auto;
      bottom: -10%;
      left: calc(50% - 175px);
    }
    .slick-dots {
      left: calc(50% - 75px);
      bottom: -10%;
    }
  }
  .rev {
    .slick-dots {
      left: calc(50% - 80px);
      bottom: -10%;
    }
    .slick-prev {
      top: auto;
      bottom: -10%;
      left: calc(50% - 135px);
    }
  }
  .team__item {
    margin: 0;
    &:nth-child(1) {
      margin-bottom: 25px;
      margin-right: 25px;
    }
    &:nth-child(3) {
      margin-right: 25px;
    }
    &:nth-child(2) {
      margin-bottom: 25px;
    }
  }
  .team__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-text {
      margin-bottom: 20px;
    }
  }
  .team__items {
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__left {
    padding-bottom: 50px;
  }
  .rev__item {
    max-width: 830px;
    margin: 0 auto;
    flex-direction: column;
    &-img {
      margin: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .pl_know .about__know-container {
    margin: 0;
  }
  .planning__items {
    flex-direction: column;
  }
  .planning__col-2,
  .planning__col-3 {
    margin: 0;
  }
  .planning__col-3 {
    width: 840px;
    height: 300px;
  }
  .planning__items-inn {
    margin-bottom: 40px;
  }
  .downl__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    .dar {
      display: none;
    }
    p {
      margin: 0;
    }
    a {
      margin-top: 20px;
      height: 100px;
    }
  }
  .offer__items {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 800px;
  }
  .offer__item {
    margin-right: 40px !important;
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      margin-right: 0;
    }
  }
  .port__container {
    padding: 0;
  }
  .port__title {
    padding-right: 15px;
  }
  .what__title {
    &::after {
      display: none;
    }
  }
  .what__container {
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: center;
  }
  .what__right {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 500px;
  }
  .what__left {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    border: none;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &-img {
      margin: 0 auto;
    }
    img {
      max-width: 100%;
    }
  }
  .clients__items {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
  }
  .clients__item {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(3),
    &:nth-child(5) {
      margin-right: 0;
    }
  }
  .what__container {
    padding: 0;
  }
  .what__items {
    margin-bottom: 40px;
  }
  .privilege__items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .privilege__items-left {
    margin: 0;
  }
  .privilege_pl_know {
    margin-top: 40px;
    display: flex;
  }
  .privilege::after {
    display: none;
  }
  .privilege__items-left .about__know {
    display: none;
  }
}
@media (max-width: 890px) {
  .offer__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offer__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .models__item {
    &-img {
      height: 200px;
    }
    &-title {
      font-size: 30px;
    }
  }
  .models__item:nth-child(odd) {
    margin-right: 0;
  }
  .steps {
    padding-bottom: 40px;
  }
  .steps__items {
    flex-direction: column;
    justify-content: center;
  }
  .steps__item {
    height: 400px;
    padding: 20px;
    margin-bottom: 40px;
  }
  .planning__items-inn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .planning__col-1 {
    margin: 0;
    // margin-bottom: 40px;
  }
  .planning__col-3 {
    width: 100%;
  }
  .planning__title,
  .planning__subtitle {
    padding-right: 15px;
  }
  .planning__container {
    padding: 0;
  }
  .header__left {
    width: 100%;
    max-width: 450px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .header__right {
    width: 100%;
    justify-content: center;
  }
  .header__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 670px) {
  .inPrice__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rev .slick-arrow {
    width: 16px;
    height: 8px;
    background-image: url(../img/sl/g_arr_r.png);
  }
  .th .title {
    font-size: 40px;
    max-width: 350px;
  }
  .th .th_btn {
    width: 280px;
  }
  .th__text {
    font-size: 25px;
  }
  .up {
    z-index: 50;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    img {
      border-radius: 50%;
      box-shadow: 0px 0px 8px 3px rgba(248, 163, 36, 0.2);
      width: 30px;
      height: 30px;
      transform: rotate(270deg);
    }
  }
  .port .port__item-img-slider {
    .slick-prev {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ffc134;
    }
    .slick-next {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ffc134;
    }
  }
  .rev__item-texts {
    margin-top: 40px;
  }
  .port__item-text {
    min-height: 90px;
  }
  .port__item {
    min-height: 670px;
    .ggg_1 {
      background-image: url(../img/port/1/3.jpg) !important;
    }
    .ggg_2 {
      background-image: url(../img/port/3/3.jpg) !important;
    }
  }

  .header__left-bottom-nav a {
    font-size: 16px;
  }
  .burger__burger {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 25px;
    position: relative;
    text-align: center;

    span {
      transition: all 0.3s;
      opacity: 1;
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: rgb(0, 0, 0);
      top: 11px;
    }
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: rgb(0, 0, 0);
      transition: all 0.3s;
    }
    &::after {
      top: 0;
    }
    &::before {
      bottom: 0;
    }
  }
  .burger__burger.active::after {
    transform: rotate(45deg);
    top: 11px;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }
  .burger__burger.active::before {
    transform: rotate(-45deg);
    bottom: 11px;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }
  .burger__burger.active span {
    opacity: 0;
    transition: all 0.3s;
    background-color: #000000;
  }
  .header__mob {
    position: relative;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
    top: 0;
    display: flex;
    background-color: #ebebeb;
    opacity: 1;
    border-bottom: 1px solid #bebebe;
  }
  .header__mob-inn {
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 280px;
    .header__logo {
      border: none;
      img {
        // width: 40px;
        height: 40px;
      }
      h4 {
        font-size: 27px;
      }
    }
  }
  .header__left-bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__left-bottom {
    transition: 0.5s;
    z-index: 200;
    width: 100%;
    position: fixed;
    left: 0;
    left: -100%;
    background-color: #ebebeb;
    top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .header__left-bottom-nav a {
    display: block;
    padding-bottom: 8px;
    margin: 0;
    &::before {
      display: none;
    }
  }
  .header {
    padding: 15px 0;
    padding-top: 70px;
    border: none;
    background-color: #ebebeb;
  }
  .header .header__logo,
  .header .header__left-text,
  .header .header__left-top,
  .tdd {
    display: none;
  }
  .header__left {
    margin: 0;
  }
  .header__container {
    max-width: 280px;
    padding: 0;
  }
  .header__right-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &:nth-child(1) {
      display: none;
    }
    a {
      font-weight: bold;
    }
  }
  .header__right-texts a {
    font-size: 26px;
  }
  .title {
    font-size: 29px;
  }
  body {
    font-family: Muller;
    color: #000;
    font-size: 14px;
  }
  .about__title {
    padding-bottom: 40px;
    &::after {
      height: 2px;
      bottom: 25px;
    }
  }
  .about__title,
  .about__text,
  .about__items-mob,
  .what__items,
  .what__title {
    max-width: 280px;
    margin: 0 auto;
  }
  .what__left {
    margin: 0 !important;
    height: 350px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img {
      display: none;
    }
  }
  .what__items {
    padding-bottom: 60px;
  }
  .what {
    padding: 50px 0 0 0;
  }
  .what__title {
    text-align: center;
    padding-bottom: 30px;
  }
  .what__right {
    height: auto !important;
    padding: 0 !important;
  }
  .about__text {
    margin-bottom: 30px;
  }
  .about__item span {
    display: block;
  }
  .header__right-img {
    min-width: 40px;
  }
  .about__left {
    align-items: center;
    justify-content: center;
  }
  .about {
    background-color: #ebebeb;
  }
  .about__container {
    padding-top: 20px;
  }
  .about .slick-next {
    left: calc(50% + 110px);
    bottom: -20%;
  }
  .about .slick-dots {
    bottom: -20%;
  }
  .about .slick-prev {
    top: auto;
    bottom: -20%;
    left: calc(50% - 125px);
  }
  .about__right,
  .about__img {
    height: 320px;
  }
  .about__right {
    padding-bottom: 40px;
  }
  .about__know {
    height: auto;
  }
  .about__know-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    padding: 20px 0;
  }
  .downl a {
    height: 70px;
  }
  .about__know-title {
    height: 70px;
    width: 100%;
    margin-top: 20px;
  }
  .offer__items {
    max-width: 280px;
  }
  .offer__item {
    margin-right: 0 !important;
    height: 120px;
  }
  .offer {
    background-color: #e1e4e5;
  }
  .offer__item::before {
    border-left: 10px solid #e1e4e5;
    border-top: 10px solid #e1e4e5;
  }
  .offer__title {
    max-width: 280px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .offer__item img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background-color: #c3c5c8;
  }
  .downl__container {
    padding: 30px 0;
    max-width: 280px;
  }
  .downl__text {
    font-size: 24px;
  }
  .downl a {
    width: 280px;
    display: flex;
    flex-direction: column;
    span {
      display: block;
      width: 100%;
    }
  }
  .port {
    padding: 40px 0 0 0;
    &__title {
      padding-bottom: 40px;
      text-align: center;
    }
  }
  .port__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .port__item-img {
    height: 400px;
  }
  .port__item-title {
    font-size: 19px;
    max-width: 280px;
    margin: 0 auto;
  }
  .port__item-text {
    font-size: 12px;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .port {
    .slick-next {
      left: calc(50% + 120px);
      bottom: 5%;
    }
    .slick-dots {
      left: calc(50% - 120px);
      bottom: 5%;
    }
    .slick-prev {
      top: auto;
      bottom: 5%;
      left: calc(50% - 142px);
    }
  }
  .privilege__items,
  .privilege_pl_know {
    display: none;
  }
  .privilege__items-mob {
    margin: 0 auto;
    display: block;
    max-width: 280px;
    .privilege__item {
      display: flex !important;
      max-width: 280px;
      font-size: 12px;
      //   align-items: center;
    }
    .privilege__item-num {
      margin-right: 20px;
      min-width: 80px;
      min-height: 80px;
    }
    .slick-next {
      top: auto;
      left: calc(50% + 120px);
      bottom: 5%;
    }
    .slick-dots button {
      margin: 0 5px;
    }
    .slick-dots {
      left: calc(50% - 75px);
      bottom: 5%;
    }
    .slick-prev {
      top: auto;
      bottom: 5%;
      left: calc(50% - 142px);
    }
  }
  .pl_know {
    display: none;
  }
  .privilege__kn-mob {
    display: flex;
    margin-top: 30px;
  }
  .privilege {
    background-image: none;
    background-color: #f1f1f1;
  }
  .privilege__title {
    text-align: center;
  }
  .privilege__kn-mob {
    display: flex;
  }
  .planning__col-3 {
    display: none;
  }
  .planning__items-inn {
    margin: 0;
  }
  .planning__container {
    max-width: 280px;
  }
  .planning__title {
    text-align: center;
    padding-right: 0;
  }
  .planning__subtitle {
    text-align: center;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 14px;
  }
  .planning__items-text {
    font-size: 23px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .planning__item {
    max-width: 280px;
    height: 120px;
    font-size: 12px;
    &-img {
      max-width: 100%;
      width: 120px;
      height: auto;
      overflow: hidden;
      img {
        // height: 120px;
        // max-width: 150%;
        width: auto;
      }
    }
    p {
      padding: 0;
      padding-top: 30px;
    }
  }
  .planning {
    padding: 30px 0;
    padding-bottom: 0;
  }
  .pllll {
    .privilege__kn-mob {
      margin-top: 0;
    }
  }
  .clients__items {
    display: none;
  }
  .clients__items-mob {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.15);
    .clients__item {
      max-width: 200px;
      display: flex !important;
      box-shadow: none;
      margin: 0;
    }
  }
  .clients {
    .slick-next {
      top: auto;
      left: calc(50% + 83px);
      bottom: -12%;
    }
    .slick-dots button {
      margin: 0 5px;
    }
    .slick-dots {
      left: calc(50% - 40px);
      bottom: -12%;
    }
    .slick-prev {
      top: auto;
      bottom: -12%;
      left: calc(50% - 100px);
    }
    .clients__title {
      max-width: 280px;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 40px;
    }
    .clients {
      padding: 40px 0 70px;
    }
  }
  .title {
    // max-width: 280px;
    text-align: center !important;
  }
  .team__items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }
  .team__item {
    margin: 0 !important;
    margin-bottom: 40px !important;
    max-width: 280px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  .team__container {
    max-width: 280px;
    margin: 0 auto;
  }
  .team__title {
    max-width: 170px;
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .team__bottom-text {
    text-align: center;
    margin: 0;
    font-size: 22px;
    padding-bottom: 20px;
  }
  .team__bottom-items {
    max-width: 280px;
  }
  .team__bottom-item {
    width: 280px;
    position: relative;
  }
  .team__bottom-item-title {
    position: absolute;
    left: 14px;
    top: 4px;
    font-size: 12px;
  }
  .team {
    padding: 40px 0 20px;
  }
  .partners__container,
  .rev__container,
  .footer__container {
    max-width: 280px;
  }
  .partners__items {
    flex-direction: column;
  }
  .partners__title,
  .rev__title {
    padding-bottom: 30px;
  }
  .partners {
    padding: 40px 0;
  }
  .partners__item {
    &:nth-child(1) {
      margin-top: 15px;
    }
    margin: 0;
    margin-bottom: 20px;
  }
  .rev__item-texts {
    min-height: 220px;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .rev__item-text p {
    max-width: 280px;
    line-height: 22px;
  }
  .rev__item-title::after {
    bottom: 4px;
  }
  .rev__item-img {
    min-height: 180px;
    height: 180px;
    margin-bottom: 30px;
  }
  .rev .slick-dots {
    left: calc(50% - 126px);
  }
  .rev .slick-next {
    left: calc(50% + 105px);
  }
  .footer__title {
    display: none;
  }
  .footer__title-mob {
    display: block;
    padding-bottom: 40px;
  }
  .footer {
    padding-top: 70px;
  }
  .footer__left-items {
    max-width: 280px;
    margin: 0 auto;
  }
  .footer__social-item {
    padding: 7px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    // &:nth-child(2) {
    //   img {
    //     max-width: 100%;
    //     width: 13px;
    //     height: 20px;
    //   }
    // }
    img {
      max-width: 100%;
      width: 20px;
    }
  }
  .footer__right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__form-l {
    margin-right: 0;
  }
  .bn1 {
    display: none !important;
  }
  .bn2 {
    margin-top: 40px;
    display: block !important;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer__bottom-left p {
    margin-bottom: 29px;
  }
  .about__title {
    text-align: left;
  }
  .port__title,
  .privilege__title {
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .what__left {
    padding-left: 0 !important;
    border-left: none !important;
    background-image: url(../img/slider/1/4.jpg);
    background-image: url(../img/slider/3/3_3.jpg);
    &-img {
      // display: none ;
    }
  }
}
@media (max-width: 450px) {
  .th .title {
    font-size: 35px;
    max-width: 350px;
  }
  .popup__title {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .popup__text {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .popup input,
  .popup button {
    margin-bottom: 15px;
  }
  .popup__butt-text {
    font-size: 12px;
    &-2 {
      font-size: 10px;
    }
  }
  .popup__inner {
    max-width: 280px;
    margin: 0 auto;
    padding: 25px 0;
    &-inner {
      max-width: 300px;
    }
  }
  .popup .x {
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
  }
}
